<html>
<head>
    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
</head>

<body>
<div id="position"></div>
<div id="map1"></div>
<div id="map2"></div>
<div id="map3"></div>
<div id="map4"></div>
<div id="map5"></div>
<div id="map6"></div>
<div id="map7"></div>
<div id="map8"></div>
<div id="map9"></div>
<div id="map10"></div>

<br>
<hr>
<br>
<div id="game"></div>
<div id="event_result"></div>
<div id="control">
    <button value="0">동</button>
    <button value="1">서</button>
    <button value="2">남</button>
    <button value="3">북</button>
</div>
<br>
<hr>
<br>
<div id="status">
    -----Status-----
    <br>
    LEVEL: <span id="LEVEL"> 1</span>
    <br>
    HP: <span id="HP"> 5 / 5</span>
    <br>
    STR: <span id="STR"> 5</span>
    <br>
    DEF: <span id="DEF"> 5</span>
    <br>
    EXP: <span id="EXP"> 0 / 10</span>
    <br>
    -----------------
</div>
<br>
<hr>
<br>
<div id="battle">
    -----Monster Status-----
    <br>
    HP: <span id="monsterHP"> 5 / 5</span>
    <br>
    STR: <span id="monsterSTR"> 5</span>
    <br>
    DEF: <span id="monsterDEF"> 5</span>
    <br>
    EXP: <span id="monsterEXP"> 1</span>
    <br>
    -----------------
    <div id="battleControl">
        <button value="4">공격!</button>
        <button value="5">도망가기</button>
    </div>
</div>


<script>

    const sendAction = (url, params = {}) => {
        $.ajax({
            url : "/action",
            headers: {
                Authorization: "Bearer " + key
            },
            method: "POST",
            //data: `action=${action} & direction=${params.direction}` //
            data: $.param(params),
        }).done((req) => {
            const { player, field, event, actions, battleActions, itemsTotal, battleEvent, monster } = req;

            $('#game').text(field.description);
            $('#position').text(`(${field.x},${field.y})`);
            const x = field.x;
            const y = field.y;
            let map = ''
            for (i=0;i<10;i++){
                map = ''
                if (i === 9-y){
                    for (j=0;j<10;j++) {
                        if (j === x) {
                            map += '■'
                        } else {
                            map += '□'
                        }
                    }
                    $(`#map${i+1}`).text(map);
                }else {
                    map += `□□□□□□□□□□`
                    $(`#map${i+1}`).text(map);
                }
            }
            $('#map').text(map);


            $('#control').html('');
            req.actions.forEach((action) => {
                const dom = $('<button></button>');
                dom.text(action.text);
                dom.bind('click', function () {
                    sendAction(action.url, action.params);
                });

                $('#control').append(dom);
            })
            
            if (x === 0 && y === -1) {
                    $('button[value="-1"]').unbind('click');
                    $('button[value="-1"]').show();
                    if (player.resetCount > 4) {
                        $('button[value="-1"]').hide();
                    }
                    $('button[value="-1"]').bind('click', function () {
                        sendAction('restat');
                    })
            } else {
                    $('button[value="-1"]').hide();
                    $('button[value="-1"]').unbind('click');
            }
            

            if (event) {
                $('#event_result').text(event.description);
            } else {
                $('#event_result').text("아무일도 일어나지 않았다.");
            }
            $('#HP').text(`${player.HP} / ${player.maxHP}`)
            $('#STR').text(`${player.str}`)
            $('#DEF').text(`${player.def}`)
            $('#LEVEL').text(`${player.level}`)
            $('#EXP').text(`${player.exp} / ${player.maxExp}`)

            $('#battleControl').html('');
            req.battleActions.forEach((action) => {
                const dom = $('<button></button>');
                dom.text(action.text);
                dom.bind('click', function () {
                    sendAction(action.url, action.params);
                });

                $('#battleControl').append(dom);
            })

            $('#monsterHP').text(`${monster.hp} / ${monster.maxHP}`)
            $('#monsterSTR').text(`${monster.str}`)
            $('#monsterDEF').text(`${monster.def}`)
            $('#monsterEXP').text(`${monster.exp}`)

        });

    }
    const key = localStorage.getItem('_key');
    if (!key) {
        location.href = "/";
    }

    sendAction("/action", {action: 'query'});



</script>
</body>
</html>

